$text-color: #321e18;
$background: #321e18;
$title-color: #ffd0ae;
$input-color: #ffd0ae;
$option-color: #edcca8;
$option-hover-color: #cea981;
$option-active-color: #b58e65;
$option-text-color: #432b1f;

.speech_notice {
    position: relative;
    width: 36.25rem;
    background-color: $background;
    border-radius: 0.4375rem;
    padding: 1.25rem;
    display: flex;
    flex-flow: column;
    gap: 0.5rem;

    .guild_info {
        line-height: 2rem;
        padding: 0.25rem 1.25rem;
        font-size: 1.125rem;
        margin-left: -1.875rem;
        background-color: $title-color;
        color: $text-color;
        border-radius: 0.1875rem;
        font-weight: bold;
        display: flex;
        flex-flow: row;
    }

    .advanced {
        display: flex;
        flex-flow: column;
        gap: 0.5rem;
        overflow: hidden;

        &[data-state="open"] {
            animation: slideDown 300ms ease-out;
        }

        &[data-state="closed"] {
            animation: slideUp 300ms ease-out;
        }
    }

    .message {
        display: flex;
        flex-flow: row;
        gap: 0.625rem;
        justify-content: center;
        margin: 0 2rem;

        .prefix,
        .content,
        .suffix {
            height: 2rem;
            border-radius: 0.1875rem;
            border: none;
            background-color: $input-color;
            outline: none;
            color: $text-color;
            font-weight: bold;
            padding: 0 0.625rem;
            font-size: 1rem;
            width: 5rem;
            transition-duration: 125ms;
        }

        .content {
            flex: 1;
            text-align: center;
        }

        .prefix:focus,
        .suffix:focus {
            width: 17.5rem;
            text-align: center;
        }

        .suffix {
            text-align: right;
        }
    }

    .options {
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        padding: 0 1.875rem;

        .option {
            background-color: $option-color;
            border: none;
            border-radius: 0.1875rem;
            width: 5rem;
            height: 2rem;
            font-size: 1.125rem;
            color: $option-text-color;
            transition-duration: 50ms;

            &:hover {
                background-color: $option-hover-color;
            }

            &:active {
                background-color: $option-active-color;
            }
        }
    }

    hr {
        border: none;
        height: 2px;
        background-color: #4c2c1f;
    }

    .loader {
        width: 100%;
        height: 4.8px;
        display: inline-block;
        position: relative;
        background: rgb(255 255 255 / 15%);
        overflow: hidden;

        &::after {
            content: "";
            width: 192px;
            height: 4.8px;
            background: #b76565;
            position: absolute;
            top: 0;
            left: 0;
            box-sizing: border-box;
            animation: animloader 2s linear infinite;
        }
    }
}

@keyframes animloader {
    0% {
        left: 0;
        transform: translateX(-100%);
    }

    100% {
        left: 100%;
        transform: translateX(0%);
    }
}

@keyframes slideDown {
    from {
        height: 0;
    }

    to {
        height: var(--radix-collapsible-content-height);
    }
}

@keyframes slideUp {
    from {
        height: var(--radix-collapsible-content-height);
    }

    to {
        height: 0;
    }
}
