$text-color: #321e18;
$background: #321e18;
$option-color: #edcca8;
$input-color: #ffd0ae;
$option-hover-color: #cea981;
$option-active-color: #b58e65;
$option-text-color: #432b1f;
$textbox-border-color: #f8c198;

.app {
    display: flex;
    flex-flow: column;
    background-color: $background;
    margin: 2rem 0;
    padding: 2rem;
    gap: 0.5rem;
    border-radius: 5px;

    input[type="text"],
    input[type="password"] {
        height: 1.425rem;
        border-radius: 0.1875rem;
        border: none;
        background-color: $input-color;
        outline: none;
        color: $text-color;
        font-weight: bold;
        padding: 0 0.625rem;
        font-size: 1rem;
        transition-duration: 125ms;
    }

    .block {
        padding: 0.25rem;
        display: flex;
        flex-flow: column;
        gap: 0.25rem;

        .admin {
            padding: 0.3125rem 0.625rem;
            display: flex;
            border-bottom: solid #4c2c1f 0.0625rem;

            .admin_id {
                flex: 1;
                line-height: 1.5rem;
            }

            .remove_admin {
                position: relative;
                background-color: transparent;
                color: white;
                border: none;
                cursor: pointer;
                width: 1.5rem;
                height: 1.5rem;

                &::before,
                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 1.25rem;
                    height: 0.125rem;
                    background-color: transparent;
                    transition: background-color 125ms ease;
                }

                &::before {
                    transform: translate(-50%, -50%) rotate(45deg);
                }

                &::after {
                    transform: translate(-50%, -50%) rotate(-45deg);
                }
            }

            &:hover {
                .remove_admin::before,
                .remove_admin::after {
                    background-color: #ffe1d1;
                }
            }
        }

        .textbox {
            position: relative;
            display: flex;
            flex-flow: column;
            border: solid 0.0625rem $textbox-border-color;
            border-radius: 0.3125rem;
            margin-top: 0.5rem;
            padding: 0.5rem;
            padding-top: 1rem;

            &::before {
                content: attr(data-label);
                position: absolute;
                height: 1rem;
                line-height: 1rem;
                font-size: 0.8rem;
                background-color: $background;
                top: -0.4rem;
                left: 1rem;
                font-weight: bold;
                box-shadow: 0 0 0.3rem 0.3rem #321e18;
            }
        }
    }

    .options {
        display: flex;
        flex-flow: row;
        gap: 1.25rem;
        margin-top: 0.625rem;
        justify-content: center;

        .option {
            background-color: $option-color;
            border: none;
            border-radius: 0.1875rem;
            width: 5rem;
            height: 2rem;
            font-size: 1.125rem;
            color: $option-text-color;
            transition-duration: 50ms;

            &:hover {
                background-color: $option-hover-color;
            }

            &:active {
                background-color: $option-active-color;
            }
        }
    }
}

.dialog_overlay {
    position: fixed;
    inset: 0;
    background-color: rgb(0 0 0 / 60%);
}

.dialog_content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20rem;
    background-color: $option-color;
    color: $option-text-color;
    border-radius: 0.3125rem;
    padding: 1.25rem;
    display: flex;
    flex-flow: column;
    gap: 0.625rem;

    .dialog_title {
        font-weight: bold;
        font-size: 1.125rem;
    }

    .dialog_options {
        display: flex;
        flex-flow: row;
        gap: 0.625rem;
        justify-content: flex-end;
        margin-top: 0.625rem;

        button {
            border: none;
            border-radius: 0.1875rem;
            padding: 0.3125rem 0.9375rem;
            background-color: $option-color;
            color: $option-text-color;

            &:hover {
                background-color: $option-hover-color;
            }

            &:active {
                background-color: $option-active-color;
            }
        }
    }
}
