.not_logged_in_container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.not_logging_in {
    width: 620px;
    height: 460px;
    display: flex;
    flex-flow: row;
}

.info {
    flex: 1;
    border: solid 2px #311e17;
    border-radius: 7px;
    background-color: #2c1e17;
    padding: 20px;
    line-height: 32px;
    display: flex;
    flex-flow: column;
    justify-content: end;
}

.info_title {
    flex: 1;
    text-align: center;
}

.info_image {
    width: 100%;
    object-fit: contain;
}

.login {
    display: flex;
    justify-content: center;
    flex-flow: column;
    width: 280px;
}

.login_description {
    margin: 5px 20px;
    line-height: 24px;
}

.login_button {
    width: 240px;
    height: 64px;
    border: none;
    border-radius: 11px;
    margin: 10px auto;
    background: linear-gradient(30deg, #a13328 10%, #e98841 100%);
    color: #fee5e5;
    font-size: 18px;
    font-weight: bold;
}

.main_view {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    gap: 10px;
}

.view_options {
    width: 200px;
    display: flex;
    margin: 20px;
    flex-flow: column;
    gap: 10px;
}

.view_option {
    position: relative;
    height: 32px;
    width: 100%;
    background-color: #edcca8;
    border: none;
    border-radius: 3px;
    font-size: 22px;
    color: #432b1f;
    transition-duration: 125ms;
}

.view_option:hover {
	background-color: #cea981;
}

.view_option:active {
	background-color: #b58e65;
}