$text-color: #321e18;
$title-color: #ffd0ae;

.block {

    .title {
        position: relative;
        line-height: 1.75rem;
        background-color: $title-color;
        color: $text-color;
        font-weight: bold;
        padding: 0 0.9375rem;
        font-size: 1rem;
        border-radius: 0.1875rem;
        cursor: default;
        user-select: none;
    }

    .content {
        height: 0;
        transition: height 0.3s ease-in-out;
        overflow-y: scroll;

        &[data-expanded="true"] {
            height: unset;
            overflow-y: auto;
        }
    }
}