$checkbox-background: #8a5840;
$checkbox-checked-background: #d45517;

.toggle {
    display: flex;
    flex-flow: row;
    margin: 0 2.5rem;

    .label {
        height: 1.5rem;
        line-height: 1.5rem;
        flex: 1;
    }

    .content {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .button {
        position: relative;
        width: 2.5rem;
        height: 1.375rem;
        border: solid $checkbox-background 0.1875rem;
        background-color: $checkbox-background;
        border-radius: 1.25rem;
        transition-duration: 250ms;
        padding: 0;

        &[data-state="checked"] {
            background-color: $checkbox-checked-background;
            border-color: $checkbox-checked-background;
        }
    }

    .thumb {
        display: block;
        position: relative;
        width: 1rem;
        height: 1rem;
        border-radius: 1rem;
        background-color: #fff;
        left: 0;
        transition-duration: 250ms;
        will-change: transform;

        &[data-state="checked"] {
            transform: translateX(1.125rem);
        }
    }
}
